#main-banner h1 {
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

p {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    left: 20px;
    
}

.top-preview {
    /* margin: 0 auto;  <- does'nt work */
    /*float:left;*/
    margin-top: 20px;
    width: 100%;
    clear:both;
    left: 300px;
}

.preview {
    display: inline-block;
    width: 49vw;
    margin-top: 20px;
}

.top-preview-img {
    position: relative;
    width: 60%;
    height: 200px;
    left:20vw; /* is the only thing that worked somehow - but not satisfying */
    /*margin: 0 auto;  <- didnt work */
    /* I have no idea how to center that image correctly */
}

.preview-img {
    position: relative;
    width: 80%;
    margin: auto; /*not sure what effect this has*/
    top: 0;
    left: 100px;
    right: 0;
    bottom: 0;
}

