* {
    margin: 0;
    border: 0;
}

header {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #cabbb7;
    
}

#banner {
    height:120px;
}

header #banner-headline{
    position: absolute;
    left: 10px;
    top: 20px;
    margin: 20px;
    font-weight: bold;
}

header #banner-logo {
    float: right;
    width: auto;
    height: 100px;
    margin: 20px;
}



